.navbar {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  margin-top: -48px;
  margin-left: -37%;
  margin-right: -55%;
}
.navbar-nav {
  float: left;
  margin: 20px;
  width: 25%;
}
.navbar-brand {
  float: left;
  height: 50px;
  padding: 15px 15px;
  font-size: 18px;
  line-height: 20px;
}
a.nav-link {
  margin-right: 20%;
}
.user-screen {
  width: max-content !important;
}

table,
th,
td {
  border: 1px solid black;
}

th {
  width: unset;
  min-width: 175px;
  max-width: 400px;
  padding: 6px;
}

td {
  width: unset;
  min-width: 175px;
  max-width: 400px;
  padding: 6px;
}

.date {
  width: 100px;
}

.filters {
  width: 100%;
  display: flex;
  margin: 10px;
}

.paginate {
  width: 600px;
  display: flex;
  margin: 10px;
}

.filters select {
  padding: 10px;
  margin: 0px 10px;
}

.filters input {
  flex: 1;
  width: 200px;
  padding: 10px;
  margin: 0px 10px;
}
